<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Mode" value="Light"/>
		<add key="ShowLastSeen" value="True"/>
		<add key="ProfilePicture" value="abc123"/>
		<add key="About" value="I am available"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>